.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sidebar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Adjust width as needed */
  height: 100%;
  background-color: #111;
  padding-top: 60px;
  z-index: 5;
  transition: 0.5s;
}

/* Button styling for sidebar options */
.sidebar-item {
  padding: 20px;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 20px;
  transition: all 0.3s;
}

/* Hover effect for sidebar options */
.sidebar-item:hover {
  color: #ce6262; /* Change background color on hover */
}

.menu-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 50px;
  cursor: pointer;
}

.menu-btn:hover {
  color: #FF5733; /* Change color on hover */
}

.cloud-container {
  position: relative;
  top: -2px;
  right: 6px;
}

.cloud-image {
  width: 330px; /* Adjust size as needed */
  height: auto;
}

.cloud-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px; /* Adjust font size as needed */
  color: rgb(26, 7, 7); /* Adjust text color as needed */
  text-align: center;
  width: 80%; /* Adjust width as needed */
  line-height: 1.2; /* Adjust line height for better readability */
}

#cloud-text p {
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold; /* Make text bold */
  margin-top: 20px;
}

.arrow-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hello {
  position: absolute;
  width: 160px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed black; /* Dotted border */
  border-radius: 15px; /* Border radius */
  transition: all 0.3s ease-in-out; /* Add transition effect */
}

.hello:hover {
  background-color: #7cf624; /* Change background color on hover */
}

.hello a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 24px; /* Increase font size */
  text-align: center;
  margin-top: 50px;
}

.top-left {
  top: 100px; /* Adjust distance from top */
  left: 270px; /* Adjust distance from left */
  width: 190px;
}

.top-left:hover {
  background-color: #7cf624; /* Change background color on hover */
}

.top-right {
  top: 100px; /* Adjust distance from top */
  right: 300px; /* Adjust distance from right */
}

.top-right:hover {
  background-color: #7cf624; /* Change background color on hover */
}

.bottom-left {
  bottom: 100px; /* Adjust distance from bottom */
  left: 210px; /* Adjust distance from left */
  width: 250px;
}

.bottom-left:hover {
  background-color: #7cf624; /* Change background color on hover */
}

#bottom-left a {
  margin-bottom: 25px; /* Adjust padding as needed */
}

.bottom-right {
  bottom: 100px; /* Adjust distance from bottom */
  right: 300px; /* Adjust distance from right */
}

.bottom-right:hover {
  background-color: #7cf624; /* Change background color on hover */
}

.line {
  position: absolute;
  border: 1px dashed black;
}
